html {
    box-sizing: border-box;
    font-family: 'Mada', sans-serif;
    font-size: 22px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*Utility*/
.inner {
    width: 980px;
    margin: 0 auto;
}

/*Top section*/
.top-section {
    height: 650px;
    width: 1366px;
    background: url(../img/main_bg.jpg);
    margin: 0 auto;
    position: relative;
    margin-bottom: 74px;
}

.logo {
    width: 98px;
    height: 94px;
    float: left;
    border-top: 9px solid #62c017;
    transition: border-top-color .1s linear;
}

.logo:hover {
    border-top-color: #fff;
}

.logo:hover img {
    transform: scale(1.2);
}

.logo img {
    margin: 22px auto 0;
    display: block;
    transition: transform .5s cubic-bezier(.1,1.83,.75,2.53);
}

.top-section nav {
    float: left;
    margin: 21px 0 0 86px;
}

.top-section nav ul {
    overflow: hidden;
}

.top-section nav li {
    float: left;
    border-right: 1px solid #fff;
}

.top-section nav li:last-child {
    border-right: none;
}

.top-section nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 40px;
    line-height: 54px;
    display: block;
}

.top-section h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Homenaje', sans-serif;
    color: #fff;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    line-height: 61px;
}

.top-section h1 span {
    color: #2d2d2d;
    display: block;
}

/*Mission*/
.mission {
    margin-bottom: 151px;
}

.mission h2 {
    font-size: 50px;
    font-family: 'Homenaje', sans-serif;
    line-height: 56px;
    text-align: center;
    margin-bottom: 26px;
}

.mission p {
    font-size: 22px;
    line-height: 40px;
    font-weight: 300;
    width: 795px;
    margin: 0 auto;
    position: relative;
}

.mission p:before {
    content: '„';
    font-weight: 900;
    font-size: 61.27px;
    position: absolute;
    left: -51px;
    top: -27px;
}

/*Clients*/
.clients {
    background: url(../img/clients_bg.jpg) left top no-repeat;
    height: 724px;
    width: 1366px;
    margin: 0 auto;
    padding-top: 102px;
}

.clients img {
    float: left;
    margin: 0 43px 0 -100px;
}

.clients h2 {
  color: #fff;
  font-size: 50px;
  font-family: 'Homenaje', sans-serif;
  line-height: 60px;
  text-align: center;

}

.clients p {
  font-size: 30px;
  line-height: 42px;
  font-weight: 300;
  padding: 62px 0 0 0;
}

.clients p:before {
    content: '„';
    font-weight: 900;
    font-size: 61.27px;
    color: #2d2d2d;
    position: absolute;
    margin: -32px -47px;
}

#signature {
    font-size: 22px;
    line-height: 27px;
    padding-top: 15px;
}

#signature:before {
    content: none;
}

#signature a {
    color: #fff;
}

.clients button {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    margin-top: 37px;
    line-height: 18px;
    padding: 1px 7px;
    text-transform: lowercase;
}

/*Products*/
.products h2 {
    text-align: center;
    font-family: 'Homenaje', sans-serif;
    font-size: 50px;
    margin-top: 90px; 
}

.products p {
    font-family: 'Mada', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    padding: 28px 0px 30px 0px;
}

/*Sprite*/
.products-sprite {
    width: 780px;
    margin: 0 auto;
}

.products-sprite div {
    width: 195px;
    height: 242px;
    float: left;
    position: relative;
}

.products-sprite div:hover {
    background-color: #62c017;
}

.products-sprite div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.products-sprite div span:hover {
    filter: invert(1);
}

.icon-1 span {
    background: url(../img/products_sprite.png) -16px 0;
}

.icon-2 span {
    background: url(../img/products_sprite.png) -204px 0;
}

.icon-3 span {
    background: url(../img/products_sprite.png) -408px 0;
}

.icon-4 span {
    background: url(../img/products_sprite.png) -599px 0;
}

.icon-5 span {
    background: url(../img/products_sprite.png) -16px -232px;
}

.icon-6 span {
    background: url(../img/products_sprite.png) -204px -232px;
}

.icon-7 span {
    background: url(../img/products_sprite.png) -408px -232px;
}

.icon-8 span {
    background: url(../img/products_sprite.png) -602px -232px;
}

.icon-9 span {
    background: url(../img/products_sprite.png) -16px -464px;
}

.icon-10 span {
    background: url(../img/products_sprite.png) -204px -464px;
}

.icon-11 span {
    background: url(../img/products_sprite.png) -408px -464px;
}

.icon-12 span {
    background: url(../img/products_sprite.png) -604px -464px;
}

/*Cookies*/
.cookies {
    width: 100%; 
    background-color: rgba(34, 34, 34, .83);
    position: fixed;
    bottom: 0;
    left: 0;
    font-weight: 300;
    font-size: 14px;
    visibility: hidden;
}

.cookies .inner {
    position: relative;
}

.cookies p {
    color: #fff;
    background: url(../img/cookies_img.png) left center no-repeat;
    line-height: 19px;
    padding: 23px 250px 23px 85px;
}

.cookies a {
    color: #62c017;
    font-weight: normal;
}

.cookies button {
    background-color: #62c017;
    border: none;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    height: 23px;
    padding: 0 11px;
    margin: 0;
    line-height: 24px;
    cursor: pointer;
}

.cookies button:after {
    content: 'x';
    margin-left: 6px;
}
